/* font  */
body{
    overflow-x: hidden;
     max-width: 100%;
     padding: 0 130px;
    

}
body p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.header{
    justify-content: space-between;

}
.nav-items{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left:50px;

}
.nav-link{
    margin-left: 50px;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
/* banner part */
.orange-text{
    font-family: Noto Serif;
font-size: 50px;
font-weight: 700;
text-align: center;
color:rgb(233, 90, 8) ;
}
.banner-tittle{
    font-family: Noto Serif;
font-size: 50px;
font-weight: 700;
/* line-height: 89px; */
/* letter-spacing: 0%; */
color:rgb(0, 0, 0)
text-align: left;
}
.banner{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
/* our plant */
.plant{
    min-width: 100%;
}
.card1 img {
    /* height: 300px; */
    width: 100%;
}
.plant-tittle{
    text-align: center;
    align-items:center;
}
.plant-text{
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
    color:rgb(0, 0, 0)
}
.card-text{
    color: rgb(17, 17, 17);
font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 150%;
/* text-align: center; */
}
.btn{
    background: rgb(233, 90, 8);
    color: white;
    border: none;
    padding: 10px 75px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:20px;
    /* margin-right:5px; */
    /* width: 80%; */
}
/* flower lover part */
.flower-lover{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.flower-text-right{
    text-align: center;
    align-items: center;
}
.flower-lover{
    padding-top: 50px;
}
.img-left{
    position:relative;

}
.badge img{
height:250px;
width: 250px;
position:absolute;
top:-70px;
right:-70px;
}
.li-text1{
    color: rgba(0, 0, 0, 0.5);;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;   
}

/* latest deals */
.orange-text1{
    font-family: Noto Serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color:rgb(233, 90, 8) ;
    }

.deals-text{
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 30px;
font-weight: 500;
line-height: 40px;
}
.paragraph-text{
    text-align: center;
}
.deal-img-container{
    display: grid;
    grid-template-columns: repeat(2,4fr);
    gap: 5px;
    /* max-width: 80%; */
    /* justify-content: space-between; */
    /* gap: 10px; */
    /* border-radius: 10px; */
    /* height:50px; */
}
.deal-img-left{
    margin: 0 8px;
}
.bloom-img{
    margin-bottom: 10px;
    border-radius: 10px;
/* background-color: ; */
/* background: rgba(0, 0, 0, 0.4) */
}

.ana-img{
    height: 200px;
    /* margin-bottom: 10px; */
    border-radius: 10px;
}
.zabo-img{
    border-radius: 10px;
    height: 415px;
width:650px;
}

.join-container{
 background: url(./assets/news-letter-bg.png);
 height: 530px;
 background-size: cover;
 background-position: center;
 margin: 50px ;
 width: 100%;

}
.join-box{
    padding: 100px;
    text-align: center;
    /* display: flex; */
    /* margin-top: 40px;
    margin-left: 20px; */
    /* align-items: center;
    justify-content: center; */
/* position: relative; */
}
.input-box{
   padding:8px 40px;
   /* position: absolute; */
   /* right: 100px; */
   /* width: 300px; */
}
.join-text{
    /* margin: 40px; */
    color: white;
    text-align:center;
    align-items: center;
    justify-content: center;
}







/* footer area */
.footer{
    /* max-width: 1440px; */
    margin: 36px;
}
.footer-box{
    display: flex;
}
.footer-link{
    list-style: none;
}
a{
    display: flex;

    text-decoration: none;

}
.footer-left{
    align-items: left;
}

.footer-menu{
    display: flex;
    /* justify-content: space-around;
     */
    }
    .footer-menu-left{
        margin-left:  30px;
        margin-top: 20px;
        line-height: 40px;
    }

    .footer-menu-right{
        margin-left:  30px;
        margin-top: 20px;
        line-height: 40px;
    }
.footer-icon{
margin: 50px 60px;
}
.icon{
    margin-left: 8px;
}

/* RESPONSIVE STYLE */

@media screen and (max-width:576px){
    .navbar{
        flex-direction: column;
    }
    .nav-link{
    }
    .banner{
        flex-direction: column;
    }
    .deal-img-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } 
    .img-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        padding: 10px;

    }
    body{
        padding:60px;
    }

.nav-items{
    visibility: hidden;
}
.fa-solid fa-cart-shopping{



/* visibility: inherit; */
}
.bloom-img{

}

}