/* font  */

body p{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.header{
    justify-content: space-between;

}
.nav-items{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left:50px;

}
.nav-link{
    margin-left: 50px;
}
.navbar{
    display: flex;
    justify-content: space-around;
}
/* banner part */
.orange-text{
    font-family: Noto Serif;
font-size: 50px;
font-weight: 700;
letter-spacing: 0%;
text-align: left;
color:rgb(233, 90, 8) ;
}
.banner-tittle{
    font-family: Noto Serif;
font-size: 50px;
font-weight: 700;
/* line-height: 89px; */
/* letter-spacing: 0%; */
color:rgb(0, 0, 0)
text-align: left;
}
.banner{
    display: flex;
    justify-content: space-around;
}